@import "node_modules/normalize.css/normalize";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

$bodyPadding: 1rem;
$playAreaPadding: 0.5rem;
$playAreaSelectedMargin: 0.5rem;
$defaultBorderRadius: 0.33rem;
$diceSize: 3.5rem;
$gridGap: 1rem;

$themeBackground: #fdfdfd;
$themeLinkColor: #0084cd;
$themeTextLight: #575757;
$themeSelected: #3b3a42;
$themeTable: #d1b494;
$themeTray: #cccccc;
$themeSettings: #dedede;

$minWidthSmall: (2*$bodyPadding)+(4*$playAreaPadding)+(2*$playAreaSelectedMargin)+(6*$gridGap)+(7*$diceSize);


html {
  font-size: 1rem;
  font-family: "Noto Sans JP", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: $themeBackground;
}


body {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 $bodyPadding;
  overflow-x: hidden;
}

a {
  color: $themeLinkColor;
  text-decoration: none;
  text-decoration: underline;

  &:hover,
  &:focus {}
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.centered-axis-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header {
  color: $themeTextLight;
  text-align: center;

  h1,
  h2 {
    margin-bottom: 0.5rem;
  }

  h2 {
    margin-top: 2rem;
  }

  p {
    margin: 0 0 1rem 0;
  }
}

.game-info {
  display: flex;
  justify-content: space-around;

  .player {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.end-game {
  margin: 2rem 0;
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  color: $themeTextLight;
}

.play-area {
  display: grid;
  grid-template-areas:
    "selected"
    "table"
    "tray";

  >* {
    position: relative;
    padding: $playAreaPadding;
  }

  .selected {
    grid-area: selected;
    background-color: $themeSelected;
    color: white;
    border-radius: $defaultBorderRadius $defaultBorderRadius 0 0;

    .dice-container {

      display: grid;
      grid-column-gap: $gridGap;
      grid-row-gap: $gridGap * 2;
      justify-items: center;
      align-items: center;
      min-height: $diceSize;
      margin: 0.33rem $playAreaSelectedMargin;
      grid-template-columns: 1fr 1fr 1fr;

      .wuerfel-empty {
        cursor: default;
        background-color: rgba(255, 255, 255, 0.1);
        position: relative;
        border-radius: 0.33rem;

        &:after {
          position: absolute;
          text-align: center;
          display: block;
          width: 100%;
          height: 100%;
          top: 50%;
          line-height: 0;
          color: #ebdac7;
          font-weight: bold;
          font-size: 1.2rem;

        }

        &:nth-child(1) {
          &:after {
            content: "I";
          }
        }

        &:nth-child(2) {
          &:after {
            content: "II";
          }
        }

        &:nth-child(3) {
          &:after {
            content: "III";
          }
        }
      }
    }

  }

  .table {
    grid-area: table;
    background-color: $themeTable;
    border-radius: 0;

    .button-container {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      justify-content: space-between;
    }
  }

  .tray {
    grid-area: tray;
    background-color: $themeTray;
    border-radius: 0 0 $defaultBorderRadius $defaultBorderRadius;
    align-items: center;
  }

  .table,
  .tray {
    .dice-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media screen and (min-width: $minWidthSmall) {

    grid-template-areas:
      "selected table"
      "selected tray";
    grid-template-columns: 1fr 3fr;

    .selected {
      border-radius: $defaultBorderRadius 0 0 $defaultBorderRadius;

      .dice-container {
        grid-template-columns: 1fr;
      }
    }

    .table {
      border-radius: 0 $defaultBorderRadius 0 0;
    }

    .tray {
      border-radius: 0 0 $defaultBorderRadius 0;
    }

    .table,
    .tray {
      .dice-container {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }


  .dice-container {
    display: grid;
    grid-row-gap: $gridGap;
    grid-column-gap: $gridGap;
    justify-items: center;
    align-items: center;
    min-height: $diceSize;
    margin: 0.33rem $playAreaSelectedMargin;
    grid-template-columns: 1fr 1fr 1fr;
  }


  .wuerfel {
    width: $diceSize;
    height: $diceSize;

    cursor: not-allowed;
  }

  .usable .wuerfel {
    cursor: pointer;
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &:focus {
    outline: 2px solid $themeLinkColor;
  }
}

.icon {
  width: 1.66rem;
  height: 1.66rem;
}

.button {
  background-color: $themeBackground;
  padding: 0.33rem 0.66rem 0.33rem 0.66rem;
  margin: 0.2rem;
  cursor: pointer;
  border: 3px solid black;
  border-radius: $defaultBorderRadius;
  vertical-align: baseline;

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    padding: 0.66rem 1rem 0.66rem 1rem;
    margin: 0.33rem;
  }

  &:hover {}

  &:disabled {
    background-color: $themeBackground;
    border-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;

    .icon {
      opacity: 0.5;
    }

  }

  .icon {
    vertical-align: bottom;
    margin-top: -0.33rem;
    margin-bottom: -0.33rem;
  }

  &.button-large {
    font-size: 2rem;

    .icon {
      width: 2rem;
      height: 2rem;
      margin-bottom: 0;
    }

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      font-size: 1.5rem;

      .icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.settings {
  margin-bottom: 0.33rem;

  label {
    cursor: pointer;
  }

  .theme-selection,
  .player-selection {
    background-color: $themeSettings;
    border-radius: $defaultBorderRadius;
    padding: 0.33rem;
    margin-bottom: 1rem;

    > :first-child {
      margin-bottom: 1rem;
    }
  }

  .player-selection {
    .options {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      @media screen and (max-width: $minWidthSmall +1) {
        flex-direction: column;
        align-content: center;
        align-items: center;
      }


      >* {
        margin-bottom: 0.5rem;
        padding-right: 0.5rem;
      }
    }

    label {
      display: flex;

      input {
        margin-right: 0.33rem;
      }
    }

    .icon {
      width: 1.5rem;
      height: 2rem;
    }
  }



  .theme,
  .options {
    margin-bottom: 0.5rem;
    padding: 0.33rem;

    label {
      display: flex;
      align-items: center;
    }

    input {
      margin-right: 0.33rem;
      flex-grow: 0;
    }
  }

  .dice-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .wuerfel {
    flex: 1 1 auto;
    margin: 0.1rem;
    padding: 0;
    max-width: $diceSize;
    max-height: $diceSize;
  }
}

.log {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  color: $themeTextLight;

  .log-entry {
    display: inline-grid;
    grid-template-columns: 1fr 1fr repeat(6, 2fr);
    align-items: center;
    align-content: space-evenly;
    justify-content: center;
    margin: 0 auto 0.25rem auto;
    white-space: nowrap;

    .icon {
      width: 1rem;
      margin-top: -0.33rem;
      margin-bottom: -0.33rem;
    }

    >* {
      &:nth-child(3) {
        border-radius: $defaultBorderRadius 0 0 $defaultBorderRadius;
      }

      &:last-child {
        border-radius: 0 $defaultBorderRadius $defaultBorderRadius 0;
      }
    }



  }

  &.single {
    .log-entry {
      grid-template-columns: 1fr repeat(6, 2fr);

      >* {
        &:nth-child(2) {
          border-radius: $defaultBorderRadius 0 0 $defaultBorderRadius;
        }

        &:nth-child(3) {
          border-radius: 0;
        }
      }
    }
  }

  .index,
  .selected,
  .tray {
    padding: 0.33rem;
  }

  .selected {
    background-color: $themeSelected;
  }

  .tray {
    background-color: $themeTray;
  }

  .wuerfel {
    margin: 0.1rem auto;
    max-width: $diceSize *0.66;
    max-height: $diceSize * 0.66;
  }

}

.reset-container {
  margin-top: 8rem;
}

.footer {
  color: $themeTextLight;
  padding: 1rem;
  font-size: 0.7rem;
  text-align: center;
  line-height: 1.5;
}