@import "node_modules/normalize.css/normalize";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

$bodyPadding: 1rem;
$playAreaPadding: 0.33rem;
$playAreaSelectedMargin: 0.5rem;
$defaultBorderRadius: 0.33rem;
$diceSize: 3.5rem;


$themeBackground: #fdfdfd;


$themeSelected: #3b3a42;
$themeTable: #d1b494;
$themeTray: #cccccc;
$themeSettings: #dedede;



html {
  font-size: 1rem;
  font-family: "Noto Sans JP", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    font-size: 0.9rem;
  }

  background-color: $themeBackground;

}


body {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 $bodyPadding;
}

.flex {
  display: flex;

  &.jb {
    justify-content: space-between;

  }

  &.jc {
    justify-content: center;
  }
}

.center {
  text-align: center;
}
.right{
  text-align: right;
}

.centered-axis-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.play-area {
  display: grid;
  grid-template-areas: "selected table"
    "selected tray";
  grid-template-columns: 1fr 3fr;

  >* {
    position: relative;
    padding: $playAreaPadding;
  }

  .selected {
    grid-area: selected;
    background-color: $themeSelected;
    color: white;
    border-radius: $defaultBorderRadius 0 0 $defaultBorderRadius;

    .dice-container {
      margin-left: $playAreaSelectedMargin;
      margin-right: $playAreaSelectedMargin;
      grid-template-columns: 1fr;

      .wuerfel-empty {
        cursor: default;
        background-color: rgba(255, 255, 255, 0.1);
        position: relative;
        border-radius: 0.33rem;

        &:after {
          position: absolute;
          text-align: center;
          display: block;
          width: 100%;
          height: 100%;
          top: 50%;
          line-height: 0;
          color: #ebdac7;
          font-weight: bold;
          font-size: 1.2rem;

        }

        &:nth-child(1) {
          &:after {
            content: "I";
          }
        }

        &:nth-child(2) {
          &:after {
            content: "II";
          }
        }

        &:nth-child(3) {
          &:after {
            content: "III";
          }
        }
      }
    }

  }

  .table {
    grid-area: table;
    background-color: $themeTable;
    border-radius: 0 $defaultBorderRadius 0 0;

  }

  .tray {
    grid-area: tray;
    background-color: $themeTray;
    border-radius: 0 0 $defaultBorderRadius 0;
  }

  .table,
  .tray {
    .dice-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media screen and (min-width: (2*$bodyPadding) + (4*$playAreaPadding) + (2*$playAreaSelectedMargin) + (7*$diceSize)) {

    .table,
    .tray {
      .dice-container {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }


  .dice-container {
    display: grid;
    grid-row-gap: 0.25rem;
    grid-column-gap: 0.25rem;
    justify-items: center;
    align-items: center;
    min-height: $diceSize;
    margin: 0.33rem 0 0.33rem 0;
  }


  .wuerfel {
    width: $diceSize;
    height: $diceSize;

    cursor: not-allowed;
  }

  .usable .wuerfel {
    cursor: pointer;
  }
}


button {
  background-color: $themeBackground;;
  padding: 0.5rem 0.66rem;
  margin: 0.2rem;
  cursor: pointer;
  border: 3px solid black;
  border-radius: $defaultBorderRadius;
  vertical-align: baseline;

  &:hover {
  }

  &:disabled {
    background-color: $themeBackground;
    border-color: rgba(0,0,0,0.5);
    color: rgba(0,0,0,0.5);
    cursor: not-allowed;

    .icon{
      opacity: 0.5;
    }
  }

  .icon {
    width: 1.66rem;
    height: 1.66rem;
    margin-top: -0.33rem;
    margin-bottom: -0.33rem;
  }
}


.settings {
  margin-bottom: 0.33rem;

  .theme-selection {
    background-color: $themeSettings;
    border-radius: $defaultBorderRadius;
    padding: 0.33rem;
  }

  .theme {
    margin-bottom: 0.5rem;
    padding: 0.33rem;

    label {
      display: flex;
      align-items: center;
    }

    input {
      margin-right: 0.33rem;
      flex-grow: 0;
    }
  }

  .dice-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;

    cursor: pointer;
  }

  .wuerfel {
    flex: 1 1 auto;
    margin: 0.1rem;
    max-width: $diceSize;
    max-height: $diceSize;
  }
}

.log {
  margin-top: 1rem;

  background-color: transparent;
  border-radius: 0;

  .log-entry {
    display: flex;
    grid-template-columns: 1fr 2fr 2fr;
    justify-content: space-evenly;
    margin-bottom: 0.25rem;
    align-items: center;
  }

  .areas {
    display: flex;
  }

  .selected,
  .tray {
    padding: 0.33rem;
  }

  .selected {
    background-color: $themeSelected;
    border-radius: $defaultBorderRadius 0 0 $defaultBorderRadius;
  }

  .tray {
    background-color: $themeTray;
    border-radius: 0 $defaultBorderRadius $defaultBorderRadius 0;
  }

  .dice-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;

    cursor: pointer;
  }

  .wuerfel {
    margin: 0.1rem;
    width: $diceSize *0.8;
    height: $diceSize * 0.8;
  }

}

.reset-container {
  margin-top: 5rem;
}

.footer {
  color: gray;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.7rem;
  text-align: center;
  line-height: 1.5;
}